<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
    <title>数据检索</title>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico"/> 
    <link rel="stylesheet" href="../../css/commoncss/bootstrap.min.css">
    <link rel="stylesheet" href="../../js/commonjs/bootstraptable/bootstrap-table.css">
    <link rel="stylesheet" href="../../font/iconfont.css">
    <link rel="stylesheet" href="../../js/commonjs/layui-v2.4.3/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/commoncss/normalize.css">
    <link rel="stylesheet" href="../../css/commoncss/common_header.css">
    <link rel="stylesheet" href="../../css/commoncss/common_footer.css">
    <link rel="stylesheet" href="../../css/commoncss/common.css">
    <link rel="stylesheet" href="../../css/dataResource.css">
    <link rel="stylesheet" href="../../css/commoncss/table.css">
    <link rel="stylesheet" href="../../css/order.css">
    <style>
            [v-cloak] {
                display: none;
            }
    </style>
</head>
<body>
<template type="text/x-template" id="order">
    <div class="main-right-box flex-right">
        <!-- 标题 s -->
        <div class="right-title">
                <div class="title">
                   订单列表
                </div>
                <div class="line">
                    <div class="info">
                            <!-- <i class=""></i><span>下列检索条件都需填写，其中时间条件为世界时</span> -->
                    </div>
                </div>
        </div>
        <!-- 标题 e --> 
        <!-- 内容  s  -->
        <div class="result-box"> 

          <form action="" class="s-form layui-form">
            <!-- 查询条件  s-->
            <div class="s">
                <span class="s-title">状态：</span>
                <div class="select-box">
                    <select  id="s-select">
                        <option value=''>全部</option>
                        <option value="0">数据处理中</option>
                        <option value="1">订单完成</option>
                    </select>
                </div>
            </div>
            <div class="s">
                <span class="s-title">日期：</span>
                <div class="date-s">
                    <div class="date-box">
                        <input type="text" class="layui-input" id="d-from"> 
                    </div>
                    <span class="m-line">-</span>
                    <div class="date-box">
                        <input type="text" class="layui-input" id="d-to"> 
                    </div>
                </div>
            </div>
            <div class="s-btn" @click="search"><i class="iconfont icon-sousuo"></i><span>查询</span></div>
        </form>
        <!-- 查询条件  e-->
        
    </div>
     <!-- 表格 s -->
     <div class="table-box table-hover">
        <table id="s-table"></table>
    </div>
    <!-- 表格 e -->
    <!-- 内容  s  -->
        <div class="order-btn">
                <a href="javascript:history.back(-1)" class="a-btn a-back">
                    <i class="iconfont icon-fanhui"></i>
                    <span>返回</span>
                </a>
        </div>
    </div>
</template>
<div class="page-wrapper" id="app" v-cloak >
    <!-- 头部 start-->
    <head-nav></head-nav>
    <!-- 头部 end-->
    <!-- 内容 start-->
    <div class="main-container">
            <div class="g-container"> 
                <div class="page-nav"><span class="last-page">数据服务</span><span class="arrow-icon">&gt;</span><span>数据检索</span></div> 
                <div class="cnt-box">           
                    <div class="main-left  white radius">
                        <div class="category-wrapper">
                            <div class="main-title-box">
                                <div class="bg"></div>
                                <span class="main-title">
                                    <span class="title">数据分类</span>
                                    <span class="border-line"></span>
                                    <span class="all" @click="showAllData">(全部)</span>
                                </span>
                            </div>
                                <div class="category-content-box" v-for="(item,index) in categoryArr">
                                <div class="category-content">
                                    <h4 class="menu-title"><i class=" icon-category iconfont" :class="item.icon"></i>{{item.name}}</h4>
                                    <ul class="submenu-ul">
                                        <li v-for="(x,subindex) in item.list" :class="{'cur':(x.id==dataGroupId)}" ><a href="javascript:void(0)"  class="a-hover"  @click="changeRight(x.id)">{{x.name}}</a></li>
                                    </ul>
                                </div>
                                </div>
                        </div> 
                        </div>
                    <div id="rightTypeDiv" class="main-right">
                        <!-- 右侧组件 start-->
                        <order ref="order"></order>
                        <!-- 右侧组件 end-->
                    </div>
                </div> 
            </div>
        </div>
        <!-- 内容 end-->
        <!-- 底部 start-->
        <foot></foot>
        <!-- 底部 end-->
        <!-- 回到顶部 start-->
        <div class="toTop">
            <i class="iconfont icon-gengduo"></i>
        </div>
        <!-- 回到顶部 end-->
</div>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
<script src="../../js/commonjs/polyfill.min.js"></script>
<script src="../../js/commonjs/jquery-3.2.1.min.js"></script>
<script src="../../js/commonjs/layui-v2.4.3/layui/layui.js"></script>
<script src="../../js/commonjs/vue.min.js"></script>
<script src="../../js/commonjs/axios.min.js"></script>
<script src="../../js/commonjs/bootstraptable/bootstrap-table.js"></script>
   <script src="../../js/commonjs/bootstraptable/bootstrap-table-zh-CN.js"></script>
<script src="../../js/commonjs/layui-v2.4.3/layui/layui.js"></script>
<script src="../../js/commonjs/header.js"></script>    
<script src="../../js/commonjs/footer.js"></script>
<script src="../../js/commonjs/toTop.js"></script>
<script src="../../js/dataResource/order.js"></script>
</body>